* {
  font-family: "SUSE, JetBrainsMono Nerd Font";
  font-size: 14px;
}

window {
  background-color: #1d2021;  
  border-radius: 0px;
}

#outer-box {
  border-radius: 0px;
}

#inner-box {
  border-radius: 0px;
}

#input {
  background-color: #1d2021;
  border-radius: 0px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#text {
  padding: 8px;
  color: #fbf1c7;
}

#text:selected {
  color: #fbf1c7;
}

