
/*rgb(37, 37, 37) Fondo*/
/*#63a847 Verde*/

* {
	font-size: 14px;
    font-weight: bold;
	font-family: "SUSE JetBrainsMono Nerd Font";
    min-height: 0px;
}

window#waybar {
    color: #fbf1c7;
    background-color: rgba(30, 30, 46, 0);
    border-radius: 0px;
	
}

tooltip {
    color: #fbf1c7;
    background: #1d2021;
    opacity: 1;
}



#workspaces {
    padding: 4px; /*0.3*/
}

#workspaces label {
  font-size: 12px;
}

#workspaces button {
    color: #fbf1c7;
    background-color: #282828; 
    border-radius: 2px;
    min-width: 25px;
    padding: 0;
    margin: 0 2px 0 2px;
}

#workspaces button.active {
    color: #1e1e2e;
    background-color: #928374;
}

#workspaces button.urgent {
    color: #fbf1c7;
    background: #fb4934;
}

#custom-discord, #power-profiles-daemon {
    margin-right: 5px;
}

#izq2 {
    margin-left: 8px;
}

#der2 {
    margin-right: 8px;
}

#izq, #izq2, #der, #der2 {
    background-color: #1d2021;
    border: #928374 2 solid;
    border-bottom: none;
    border-radius: 2px;
}

#izq2, #cen, #der, #der2 {
    padding: 0px 4px 0px 4px;
}

#battery {
    margin-right: 4px;
}

#battery.warning {
    color: #fabd2f;
}

#battery.critical {
    color: #fb4934;
}


#disk,#memory,#cpu,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#battery,
#custom-lock,
#custom-notificationCenter,
#tray {
    margin: 4 2px 4 2px;
    opacity: 1;
    min-width: 25px;
}

#clock, #window {
    color: #fbf1c7;
    padding-top: 4px;
}

#tray {
    margin-right: 4px;
}



#custom-poweroff {
    color: #fb4934;
    padding-left: 10px;
}


