* {
    font-family: "SUSE";
    font-size: 14px;
  }
  
  window {
    background-color: rgba(37, 37, 37,0.669);  
    border-radius: 0px;
    border: rgb(204, 204, 204) 2 solid;
  }

  #outer-box {
    border-radius: 0px;
  }

  #inner-box {
    border-radius: 0px;
  }
  
  #input {
    background-color: rgba(37, 37, 37, 0);
    border: rgb(204, 204, 204) 2 solid;
    border-radius: 0px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #text {
    padding: 8px;
    color: white;
  }
  
  #text:selected {
    color: rgb(204, 204, 204);
  }
  
